body{
    background-image: url(../images/maxBG.png);
    background-position: left top;
    background-repeat: repeat-x;
    background-size: 1005 auto;
    color: #333;
}
.maxBox {
    position: relative;
    width: 1200px;
    margin: 0px auto;
    min-height: 600px;
} 
.headerBox{}
.navPic{}
.navBox{}
.mainBox{}
.footerBox{}
