<div class="headerBox">
	<a class="qxt_logo" href="index.html"><img src="images/qxt_logo.png" alt="logo" /></a>
	<ul class="qxt_nav mt30">
		<li class="cur"><a href="index.html">主页</a></li>
		<li><a href="find.html">发现</a></li>
		<li><a href="community.html">社区</a></li>
		<li><a href="service.html">服务</a></li>
		<li><a href="idea.html">理念</a></li>
		<li><a href="contact.html">联系我们</a></li>
	</ul>
	<div class="qxt_headRight">
		<div class="qxt_searchBox"><input type="text" /><span class="qxt_searchIcon"></span></div>
		<div class="qxt_loginReg">| <a href="login.html">登录</a> | <a href="regester.html">注册</a> |</div>
	</div>
</div>